body {
    background-color: #A9A9A9;
}

.mySearchBar {
    margin-top: 40px;
}

.myTable {
    margin-top: 40px;
}

.myRatings {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.myRatings button {
    margin-right: 10px;
}

.myProfile {
    margin-top: 20px;
    justify-content: center;
  }
  
  .error-message {
    color: #ff4d4d;
    font-weight: bold;
  }
  
  .error-box {
    max-width: 300px;
    /* Add any other styles you want for the error box */
  }
  
  .myProfile img {
    margin-left: 5px;
  }

  #showProfileID {
    white-space: nowrap;
  }

  .table-container {
    width: 100%;
    table-layout: fixed;
  }
  
  .table-cell {
    width: 20%; /* Divide the table into 5 equal-width columns */
  }