body {
    /* background-color: #1A202C; */
    /* background-color: #221d27; */
    background-color: #001219;
}

.mySearchBar {
    margin-top: 40px;
}

.myTable {
    margin-top: 40px;
}

.myRatings {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.myRatings button {
    margin-right: 10px;
}

.myProfile {
    margin-top: 20px;
    justify-content: center;
  }
  
  .error-message {
    color: #ff4d4d;
    font-weight: bold;
  }
  
  .error-box {
    max-width: 300px;
    /* Add any other styles you want for the error box */
  }
  
  .myProfile img {
    margin-left: 5px;
  }

  #showProfileID {
    white-space: nowrap;
  }

  .table-container {
    width: 100%;
    table-layout: fixed;
  }
  
  .table-cell {
    width: 20%; /* Divide the table into 5 equal-width columns */
  }

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .myAbout {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    color: lightsteelblue;
  }

  .myAbout h2 {
    margin-bottom: 20px;
    color: darkgoldenrod;
  }

  .myAbout img {
    display: block; /* Set the image to a block element to remove any default margins */
    max-width: 50%; /* Set the maximum width of the image to fit within its container */
    height: auto; /* Allow the image height to scale proportionally with the width */
    margin: 20px auto; /* Add some margin at the top and bottom to center the image */
    border-radius: 50%;
  }

  .myUpdate {
    margin-top: 20px;
  }

 